{%- import "macros.j2" as macros -%}
{{ macros::debug_print(name="env", value=env) }}
{{ macros::debug_print(name="response", value=response) }}
{{ macros::debug_print(name="template", value=template) }}