{%- import "macros.j2" as macros -%}
{{ macros::debug_print(name="env", value=env) }}
{{ macros::debug_print(name="response", value=response) }}
{{ macros::debug_print(name="scmd", value=scmd) }}
{{ macros::debug_print(name="args", value=args) }}
