{%- import "macros.j2" as macros -%}
Issue: #{{ response.iid }}
Title: {{ response.title }}
Assignee: {{ response.assignee }}
State: {{ response.state }}
Labels: {{ response.labels | join(sep=", ")}}

Description:
{{ response.description }}
